@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<div class="container">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <div class="col-sm">
            <input value="@(Model.Model.location)" type="text" class="form-control" id="locationInput">
        </div>
        <div class="col-sm">
            <input id="getWeatherBtn" type="submit" value="Pobierz prognozę" class="btn btn-primary" />
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <table class="table">
            <tbody>
                <h4>Ogólne:</h4>
          
                <tr>
                    <td>Ciśnienie</td>
                    <td>@Model.Model.main.pressure</td>
                </tr>
                <tr>
                    <td>Wilgotność</td>
                    <td>@Model.Model.main.humidity</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
                <h4>Temperatury:</h4>
               
                <tr>
                    <td>Temperatura</td>
                    <td>@Model.Model.main.temp</td>
                </tr>
                <tr>
                    <td>Maksymalna temperatura</td>
                    <td>@Model.Model.main.temp_max</td>
                </tr>
                <tr>
                    <td>Minimalna temperatura</td>
                    <td>@Model.Model.main.temp_min</td>
                </tr>
                <tr>
                    <td>Odczuwalna temperatura</td>
                    <td>@Model.Model.main.feels_like</td>
                </tr>
            </tbody>
        </table>
          <table class="table">
            <tbody>
                <h4>Wiatr:</h4>
          
                <tr>
                    <td>Prędkość</td>
                    <td>@Model.Model.wind.speed</td>
                </tr>
                <tr>
                    <td>Kierunek</td>
                    <td>@Model.Model.wind.deg</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>
</div>
<form id="selectLocationForm" action="/">
    <input type="hidden" name="location" id="locationHid" value="" />
</form>

<script>
    $(document).ready(function () {
        $('#getWeatherBtn').click(function () {

            $('#locationHid').val($('#locationInput').val());

            $('#selectLocationForm').submit();
        });
    })
</script>